* {
  background-color: #212428;
  font-family: "Fira Code", sans-serif;
}
.navBar a {
  text-decoration: none;
}
.navBar {
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navBarlogo i {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}
.navBarlogo a {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  font-family: "Fira Code", sans-serif;
  padding-left: 2px;
}
.navBar ul {
  margin: 16px 0;
  list-style: none;
  font-family: "Fira Code", sans-serif;
  font-weight: lighter;
}
.navBar ul li {
  display: inline-block;
}
.navBar ul li span {
  color: #ff014f;
  font-family: "Fira Code", sans-serif;
}
.navBar ul li a {
  font-size: 20px;
  color: #ffffff;
  margin-right: 25px;
}
.navBar ul li a:hover {
  color: #abb2bf;
}
.navBar ul li.active a {
  color: #abb2bf;
}
.list {
  padding-right: 20px;
}
.sidebar {
  position: absolute;
  left: 20px;
  top: 20%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  width: 1px;
  height: 192px;
  background-color: #abb2bf;
  margin-bottom: 10px;
}

.icons a {
  display: block;
  margin: 10px 0;
}
.icons a i {
  color: #abb2bf;
}

/* footer css strat*/
footer {
  position: absolute;
  bottom: 0;
  margin: auto;
}
.footerSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.footer-left {
  max-width: 60%;
}
.footer-left p {
  margin: 5px 0;
}
#footerDes {
  color: #abb2bf;
  font: size 15px;
  font-family: "Fira Code", sans-serif;
  font-weight: lighter;
  margin-top: 10px;
}
.footer-left p span {
  color: #ffffff;
  margin-right: 7px;
  font: size 16px;
  font-family: "Fira Code", sans-serif;
}
.footer-left p span i {
  color: #ff014f;
  font-size: 25px;
  font-weight: bold;
  margin-right: 7px;
}
.footer-left .email {
  color: #abb2bf;
  font: size 16px;
  font-family: "Fira Code", sans-serif;
  font-weight: lighter;
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #abb2bf;
  font-size: 12px;
}
.footer-right {
  text-align: right;
}
.footer-right h3 {
  margin-bottom: 10px;
  font: size 16px;
  font-family: "Fira Code", sans-serif;
  color: #ffffff;
}
.social-icons {
  display: flex;
  gap: 15px;
}
.social-icons a i {
  color: #abb2bf;
}

/* footer css end */
.contact-section {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}
.title {
  color: #ff014f;
  font-size: 24px;
  font-weight: bold;
}

.subtitle {
  font-size: 14px;
  color: #bbb;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.contact-text {
  flex: 1;
  min-width: 250px;
  font-size: 16px;
  line-height: 1.5;
}

.contact-box {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.support,
.message {
  background: transparent;
  padding: 15px;
  height: fit-content;
  border: #abb2bf 1px solid;
  min-width: 180px;
}

h3 {
  font-size: 16px;
  color: #ddd;
}

.social-icons {
  display: flex;
  gap: 10px;
  margin-top: 8px;
}

.linkedin {
  color: #0077b5;
  text-decoration: none;
  font-weight: bold;
}

.email {
  color: #fff;
  text-decoration: none;
}
/* Media query */
@media (max-width: 768px) {
  .navBar {
    width: max-content;
  }
  .sidebar {
    top: 14.6%;
  }
  body {
    width: 760px;
    overflow-x: hidden;
  }
  .contact-section{
    max-width: 500px;
  }
}
