* {
  background-color: #212428;
}
.navBar a {
  text-decoration: none;
}
.navBar {
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navBarlogo i {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}
.navBarlogo a {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  font-family: "Fira Code", sans-serif;
  padding-left: 2px;
}
.navBar ul {
  margin: 16px 0;
  list-style: none;
  font-family: "Fira Code", sans-serif;
  font-weight: lighter;
}
.navBar ul li {
  display: inline-block;
}
.navBar ul li span {
  color: #ff014f;
  font-family: "Fira Code", sans-serif;
}
.navBar ul li a {
  font-size: 20px;
  color: #ffffff;
  margin-right: 25px;
}
.navBar ul li a:hover {
  color: #abb2bf;
}
.navBar ul li.active a {
  color: #abb2bf;
}
.list {
  padding-right: 20px;
}
.sidebar {
  position: absolute;
  left: 20px;
  top: 20%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  width: 1px;
  height: 192px;
  background-color: #abb2bf;
  margin-bottom: 10px;
}

.icons a {
  display: block;
  margin: 10px 0;
}
.icons a i {
 color: #abb2bf;
}

.heroSection {
  margin-top: 75px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.heroSection .left {
  width: 50%;
  padding-left: 10px;
}
.greeting {
  font-size: 48px;
  font-weight: 400;
  color: #ffffff;
  font-family: "Fira Code", sans-serif;
  margin-bottom: 0;
}
.name {
  font-size: 48px;
  font-weight: 400;
  color: #ff014f;
  font-family: "Fira Code", sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}
.codeName {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  font-family: "Fira Code", sans-serif;
  margin-top: 0;
}
.description {
  font-size: 18px;
  font-weight: regular;
  color: #abb2bf;
  font-family: "Fira Code", sans-serif;
  margin-top: 0;
}
.contactMe {
  border: #ff014f 1px solid;
  color: white;
  background: transparent;
  padding: 8px 16px;
  font-family: "Fira Code", sans-serif;
  cursor: pointer;
}
.heroSection {
  margin-bottom: 100px;
}
.quotebox {
  width: fit-content;
  position: relative;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin-bottom: 100px;
}
.quote {
  border: 1px solid #888;
  padding: 20px;
  width: fit-content;
  background-color: transparent;
  position: relative;
  font-size: 16px;
  line-height: 1.5;
  color: #abb2bf;
  font-family: "Fira Code", sans-serif;
  font-size: 24px regular;
}

.quote::before {
  content: "“";
  font-size: 40px;
  position: absolute;
  left: 10px;
  top: -10px;
  color: #aaa;
}

.quote::after {
  content: "”";
  font-size: 40px;
  position: absolute;
  right: 10px;
  bottom: -10px;
  color: #aaa;
}

.quotebox .author {
  text-align: right;
  font-weight: bold;
  margin-top: 10px;
  color: #bbb;
  border: 1px solid #888;
  width: fit-content;
  margin-top: 0;
  position: absolute;
  right: 0px;
  padding: 5px 10px;
  font-family: "Fira Code", sans-serif;
}

#project-tagline span {
  padding-left: 10px;
  color: #d41c46;
}

#project-tagline::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: #d41c46;
  margin-right: 50%;
}
#project-tagline {
  font-size: 32px;
  font-weight: normal;
  display: flex;
  align-items: center;
  color: white;
  gap: 10px;
  padding-left: 75px;
  margin-bottom: 35px;
  font-family: "Fira Code", sans-serif;
}
#overAllContainer {
  display: flex;
  justify-content: space-evenly;
}
.cardOverAll {
  border: #abb2bf 1px solid;
  width: 331px;
  height: fit-content;
  margin-bottom: 100px;
}
.firstTopic {
  border-bottom: #abb2bf 1px solid;
}
.pro-img {
  width: 331px;
  height: 201px;
}
.button-86 {
  border: #ff014f 1px solid;
  color: white;
  background: transparent;
  padding: 2px 16px;
  font-family: "Fira Code", sans-serif;
  cursor: pointer;
  margin-bottom: 10px;
  transition: ease-out 0.5s;
}

.button-86:hover {
  color: #212428;
  box-shadow: inset 0 -100px 0 0 #ff004d;
  border: 2px solid black;
}
.firstTopic {
  font-family: "Fira Code", sans-serif;
  color: #abb2bf;
  font-size: 16;
  font-weight: 400;
  padding: 10px;
  margin-top: 0;
}
.mainTopic {
  font-family: "Fira Code", sans-serif;
  color: #ffffff;
  font-size: 24px;
}
.des {
  font-family: "Fira Code", sans-serif;
  font-size: 16px;
  color: #abb2bf;
}
.maincontainer {
  padding-left: 10px;
}
.Skill {
  margin-bottom: 100px;
}
.skillSection {
  display: flex;
  justify-content: space-evenly;
}
.skillTables {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
}

.box {
  border: 1px solid #abb2bf;
  padding: 10px;
  min-width: 150px;
  height: fit-content;
}

.box h3 {
  margin: 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #abb2bf;
  font: size 16px;
  font-family: "Fira Code", sans-serif;
  color: #ffffff;
  font-weight: 400;
}

.box ul {
  list-style: none;
  padding: 0;
  margin: 5px 0 0 0;
  font: size 16px;
  font-family: "Fira Code", sans-serif;
  color: #abb2bf;
  font-weight: 300;
}

.box ul li {
  padding: 2px 0;
}
.AboutMe > #project-tagline{
  margin-bottom: 0;
}
.AboutMeSection {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 100px;
}
.AboutMeDes {
  width: 50%;
}
.AboutMeDes p {
  font: size 16px;
  font-family: "Fira Code", sans-serif;
  color: #abb2bf;
  font-weight: 300;
  width: 500px;
  line-height: 30px;
}
.AboutMeImg {
  width: 343px;
  height: 510px;
  position: relative;
  top: 0;
}
.ContactsSection{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 100px;
}
.ContactsDes{
  width: 50;
}
.ContactsDes p {
  font: size 16px;
  font-family: "Fira Code", sans-serif;
  color: #abb2bf;
  font-weight: 300;
  width: 500px;
  
}
.contactbox{
  width: 505px;
  height: 63px;
  border: 1px solid #abb2bf;
  padding: 10px;

}
.contactbox h3 {
  margin: 0;
  padding-bottom: 5px;
  font: size 16px;
  font-family: "Fira Code", sans-serif;
  color: #ffffff;
  font-weight: 300;
}

.contactbox ul {
  list-style: none;
  padding: 0;
  margin: 5px 0 0 0;
  font: size 16px;
  font-family: "Fira Code", sans-serif;
  color: #abb2bf;
  font-weight: 300;
  display: flex;
  gap: 3px;
}
#mailLogo{
  color: #abb2bf;
  padding-right: 5px;
}

.contactbox ul li {
  padding: 2px 0;
}
hr{
  margin-bottom: 20px;
}

.footerSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  
}
.footer-left {
  max-width: 60%;
}
.footer-left p {
  margin: 5px 0;
}
#footerDes {
  color: #abb2bf;
  font: size 15px;
  font-family: "Fira Code", sans-serif;
  font-weight: lighter;
  margin-top: 10px;
}
.footer-left p span{
  color: #ffffff;
  margin-right: 7px;
  font: size 16px;
  font-family: "Fira Code", sans-serif;
}
.footer-left p span i{
  color: #FF014F;
  font-size: 25px;
  font-weight: bold;
  margin-right: 7px;
}
.footer-left .email {
  color: #abb2bf;
  font: size 16px;
  font-family: "Fira Code", sans-serif;
  font-weight: lighter;
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #abb2bf;
  font-size: 12px;
  
  
}
.footer-right {
  text-align: right;
}
.footer-right h3 {
  margin-bottom: 10px;
  font: size 16px;
  font-family: "Fira Code", sans-serif;
  color:#ffffff;
}
.social-icons{
  display: flex;
  gap: 15px;
}
.social-icons a i{
 color: #abb2bf;
}


/* Mobile Large (425px) */
@media (max-width: 425px) {
  body{
    overflow-x: hidden;
  }
  .navBar{
    padding-left: 60px;

  }
  .list{
    display: none;
  }
  #project-tagline{
    padding-left: 0%;
    font-size: 24px;
  }
  .heroSection{
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }
  .heroSection .description{
    width: 322px;
    font-size: 15px;
  }
  .name{
    font-size: 24px;
    width: 234px;
  }
  .greeting{
    font-size: 24px;
  }
  .left{
    margin-left: 50px;
  }
  .right{
    width: 393px;
    height: 390px;
    margin: 0;
    justify-content: flex-start;
  }
  .quotebox{
    width: 400px;
    height: 105px;
  }
  #overAllContainer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .skillSection{
    flex-direction: column;
    gap: 15px;
  }
  .skillTables{
    grid-template-columns: repeat(2, auto);
  }
  .AboutMeSection{
    flex-direction: column-reverse;
    justify-content:flex-start;
    align-items: flex-start;
  }
  .AboutMeDes  {
    font-size:  14px;
    font-weight: 200;
    width: 325px;
   margin-left: 15px;
  }
  .AboutMeDes p{
    width: 340px;
  }
 
  .AboutMeImg{
    margin: auto;
  }
  .ContactsSection{
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    
  }
  .ContactsSection .ContactsDes{
    width: 380px;
    
  }
  .ContactsSection .ContactsDes p{
    width: 340px;
    
  }
  .contactbox{
    width: 312px;
  }
  .footerSection{
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    
  }
  .footer-left {
    height: 159px;
    max-width: 100%;
   
  }
  .footer-left p{
   column-gap: 10px;
   
  }
  .footer-left p .email{
   padding-top: 10px;
   background: transparent;
  }
  .footer-left #footerDes{
    margin-top: 20px;
  }
  
  
}